<div class="row justify-content-center">
    <div class="w-50">
        <!-- *ngIf="task" -->
        <h1>TASK DETAIL </h1>
        <p><strong>Name Task:</strong> Làm bài</p>
        <p><strong>Group:</strong> Bài tập</p>
        <p><strong>Status:</strong> chưa hoàn thành</p>
        <p><strong>Priority:</strong> 1</p>
        <p><strong>Due Date:</strong> 22/12/2024</p>
        <p><strong>Description:</strong> làm bài tập</p>
        <div class="" role="group">
            <button type="button" class="btn btn-warning">Edit</button>
            <button type="button" class="btn btn-danger">Remove</button>
        </div>
    </div>
</div>