@import 'bootstrap';

.header{
    background-color: #35b8be;

    img{
        width: 5rem;
    }

    a{
        color: #000;
    }

    .nav {
        display: flex;
        justify-content: space-around;
    }
}

