<header class="header pt-2 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 d-flex align-items-center">
                <!-- justify-content-center -->
                <div class="logo w-100 text-center text-lg-start">
                    <span>
                        <p class="fs-1 fw-bold ">Task Manager</p>
                    </span>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 d-flex align-items-center justify-content-lg-end">
                <ul class="nav nav-underline w-100 py-2">
                    <li class="nav-item">
                        <a class="nav-link fw-bold " href="#">View Task</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold " href="#">Add Task</a>
                    </li>
                    <li class="nav-item">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-dark" type="submit">Search</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>