
footer{
    background-color: #35b8be;

    p{
        color: #fff;
    }
    a{
        color: #000;
    }
    svg {
            width: 2rem;
        }
    
    .group-info a {
        margin-left: 1rem;
    }
}